




.label {
	-fx-padding: 9.0px;
    -fx-min-width: 200.0;
   	-fx-max-width: 2000.0;
  	-fx-alignment: center;
	
	
}

#controlArea {
    -fx-spacing: 10.0px;
    -fx-padding: 5.0px;
    -fx-border-color: black;
    -fx-border-width: 4.0px;

}

.player {
    -fx-font-size: 20.0px;
    -fx-font-family: Forte;
    -fx-font-color: rgb(250,250,210);
    -fx-padding: 5.0px;
    -fx-border-color: black;
    -fx-border-width: 3.0px;
    -fx-background-color: green;
}

.card {
    -fx-font-size: 15.0px;
    -fx-padding: 10.0px;
    -fx-margin: 25px 50px 75px 100px;
    -fx-border-color: black;
    -fx-border-width: 3.0px;
    -fx-background-color: rgb(255,255,255);
    -fx-min-width: 48;
    -fx-pref-width: 109;
    -fx-max-width: 490;
    -fx-min-height: 80;
    -fx-pref-height: 162;
    -fx-max-height: 800;
}