
.vboxscene{

    -fx-font-family: Arial;
    -fx-margin-top: 100px;
    -fx-font-size: 25px;
  }




.label {
	-fx-padding: 9.0px;
    -fx-min-width: 200.0;
   	-fx-max-width: 2000.0;
    -fx-alignment: center;
    
	
	
}

#controlArea {
    -fx-spacing: 10.0px;
    -fx-padding: 5.0px;
    -fx-border-color: black;
    -fx-border-width: 4.0px;

}

.player {
    -fx-font-size: 20.0px;
    -fx-font-family: Forte;
    -fx-text-fill: white;
    -fx-padding: 5.0px;
    -fx-border-color: black;
    -fx-border-width: 3.0px;
    -fx-background-image: url("PokerBackground.jpg");
    -fx-background-repeat: stretch;   
    -fx-background-size: auto;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0); 
}



.card {
    -fx-font-size: 15.0px;
    -fx-padding: 20.0px;
    -fx-margin: 25.0px 25.0px 25.0px ;
    -fx-border-color: black;
    -fx-border-width: 3.0px;
    -fx-background-color: rgb(255,255,255);
    -fx-min-width: 48;
    -fx-pref-width: 109;
    -fx-max-width: 490;
    -fx-min-height: 80;
    -fx-pref-height: 162;
    -fx-max-height: 800;
}